<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Simple BLOG | <%= @page_title || 'Staff Area' %></title>
  <meta name="author" content="Kevin Skoglund">
  <meta name="version" content="1.0" >
  <%= stylesheet_link_tag('sblog', 'staff', :media => 'all') %>
</head>
<body class="staff">
<div id="header">
  <h1>Simple Blog: Staff Area</h1>
</div>
<div id="pagecontent">
  <h1><% @page_title %></h1>
  <% if !flash[:notice].blank? %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
  <% end %>
  <%= yield %>
</div>
<div id="footer">
  <p id="copyright">&copy; Copyright 2007 - Pixel Press / Kevin Skoglund</p>
</div>
</body>
</html>